# Local development environment
NODE_ENV=development
LISTEN_INTERFACE=0.0.0.0
HTTP_PORT=9090

# Server configuration
CURRENT_SERVER_IP=
CURRENT_SERVER_URL=

# MYSQL Database configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=filekeeper_db
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=mysql
MYSQL_PORT=3306

# JWT configuration
BCRYPT_SALT_ROUNDS=10
ENCRYPTION_ALGORITHM=HS512
ENCRYPTION_KEY=
# Access token
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME=600
JWT_ACCESS_TOKEN_ID=
# Refresh token
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION_TIME=604800
JWT_REFRESH_TOKEN_ID=

# Email configuration
EMAIL_HOST=
EMAIL_PORT=2525
EMAIL_USER=
EMAIL_PASS=
EMAIL_SECURE=
EMAIL_CONF_JWT_KEY=
EMAIL_CONF_JWT_EXPIRES=

# File upload configuration 
DEV_PATH_TO_FILES_FOLDER=assets/dev/files
PROD_PATH_TO_FILES_FOLDER=assets/prod/files
